<DOCTYPE html>
<html>
<head>
  <title>Doom.io -- For all your doom clock needs</title>
  <link href="/css/styles2.css" rel="stylesheet" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.countdown.js"></script>
  <style type="text/css">
  .cntSeparator {
      font-size: 54px;
      margin: 10px 7px;
      color: #000;
  }
  .desc div {
      font-family: Arial;
      width: 70px;
      font-size: 13px;
      font-weight: bold;
      color: #000;
  }
  </style>
</head>
<body>
  <div id="wrapper">
    <% @clocks.each do |clock| %>
    <h2><%= clock["value"]["title"] %></h2>
    <div id="<%= clock["key"] %>"></div>
    <br />
    <%end %>
  </div>
  <div class="newclock">
    <form id="add_clock">
      <input type="text" name="title" />
      <input type="text" name="time" />
      <input type="submit" value="Add clock" />
    </form>
  </div>
  <script>
  $(document).ready(function() {
    var _date;
    <% @clocks.each do |clock| %>
      _date = new Date(<%= clock["value"]["end_time"] * 1000 %>);
      $("#<%= clock["key"] %>").countdown({
        startTime: _date,
        stepTime: 1,
        image: "images/digits.png"
      });
    <% end %>
    $("#add_clock").on("submit", function() {
      $.post("/clocks", $(this).serialize(), function(response) {
        $("#wrapper").append("<h2>" + response["title"] + "</h2><div id='" + response["id"] + "'></div><br/>");
        var _date = new Date(response["end_time"] * 1000);
        $("#" + response["id"]).countdown({
          startTime: _date,
          stepTime: 1,
          image: "images/digits.png"
        });
      });
      return false;
    });
  });
  </script>
</body>
</html> 