/* line 17, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, /app/views/stylesheets/_base.scss */
html,
button,
input,
select,
textarea {
/*  color: #efefef;*/
}

/* line 9, /app/views/stylesheets/_base.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.4;
  background-color: #ffffff;
/*  background-color: #1b1b24;
*/}

/* line 17, /app/views/stylesheets/_base.scss */
h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 15px;
}

/* line 24, /app/views/stylesheets/_base.scss */
h2 {
  font-weight: 300;
  border-bottom: 1px solid rgba(70, 67, 104, 0.7);
  font-size: 20px;
  padding-bottom: 3px;
  margin: 0 0 10px 0;
}

/* line 32, /app/views/stylesheets/_base.scss */
h4 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-weight: bold;
  font-size: 20px;
  padding-right: 10px;
}

/* line 39, /app/views/stylesheets/_base.scss */
h5 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 2px 0;
  font-weight: normal;
}

/* line 45, /app/views/stylesheets/_base.scss */
a {
  color: #00afed;
  text-decoration: none;
}
/* line 49, /app/views/stylesheets/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 54, /app/views/stylesheets/_base.scss */
code {
  font-family: monospace;
}

/* line 1, /app/views/stylesheets/_layout.scss */
#wrapper {
  width: 980px;
  margin: 0 auto 20px;
}

/* line 6, /app/views/stylesheets/_layout.scss */
header {
  *zoom: 1;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid rgba(70, 67, 104, 0.7);
  margin-bottom: 15px;
}
/* line 38, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, /app/views/stylesheets/_layout.scss */
header #title {
  float: left;
}
/* line 18, /app/views/stylesheets/_layout.scss */
header #nav {
  float: right;
  list-style: none;
  margin: 2px 0;
}
/* line 23, /app/views/stylesheets/_layout.scss */
header #nav li {
  display: inline;
  padding: 10px;
}

/* line 30, /app/views/stylesheets/_layout.scss */
.column-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  -ms-column-gap: 10px;
  -o-column-gap: 10px;
  column-gap: 10px;
  width: 70%;
  list-style-position: inside;
  list-style-type: square;
}

/* line 1, /app/views/stylesheets/_tooltips.scss */
.tooltip {
  outline: none;
  position: relative;
}
/* line 5, /app/views/stylesheets/_tooltips.scss */
.tooltip .label {
  color: #00afed;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}
/* line 12, /app/views/stylesheets/_tooltips.scss */
.tooltip .content {
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  background: rgba(38, 37, 53, 0.95);
  left: 0px;
  top: 28px;
  z-index: 99;
  margin-left: -125px;
  padding: 7px 10px 10px;
  font-size: 14px;
  color: #fff;
  width: 300px;
}
/* line 28, /app/views/stylesheets/_tooltips.scss */
.tooltip .content:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 150px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  /* left arrow slant */
  border-right: 10px solid transparent;
  /* right arrow slant */
  border-bottom: 10px solid rgba(38, 37, 53, 0.95);
  /* bottom, add background color here */
}
/* line 41, /app/views/stylesheets/_tooltips.scss */
.tooltip:hover .content {
  display: block;
}

/* line 1, /app/views/stylesheets/_metrics.scss */
#metrics {
  *zoom: 1;
}
/* line 38, /app/vendor/bundle/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#metrics:after {
  content: "";
  display: table;
  clear: both;
}
/* line 4, /app/views/stylesheets/_metrics.scss */
#metrics .col {
  float: left;
  width: 30%;
  margin-right: 4%;
}
/* line 9, /app/views/stylesheets/_metrics.scss */
#metrics .col:last-child {
  margin: 0;
}

/* line 15, /app/views/stylesheets/_metrics.scss */
.metric {
  margin-bottom: 20px;
}
/* line 18, /app/views/stylesheets/_metrics.scss */
.metric .value {
  font-size: 26px;
  margin: 5px 0;
}
/* line 24, /app/views/stylesheets/_metrics.scss */
.metric.loading .data {
  opacity: .3;
}

/* line 32, /app/views/stylesheets/_metrics.scss */
.metric[data-display='activity'] .activity {
  position: relative;
  border: 1px solid rgba(70, 67, 104, 0.7);
  padding: 5px;
  margin-bottom: 5px;
}
/* line 38, /app/views/stylesheets/_metrics.scss */
.metric[data-display='activity'] .activity .data {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #464368;
  height: 40px;
  padding-left: 6px;
  max-width: 100%;
  margin: 0;
  width: 0%;
}
/* line 50, /app/views/stylesheets/_metrics.scss */
.metric[data-display='activity'].loading .activity {
  border: 1px solid transparent;
  padding: 5px 0;
}
/* line 55, /app/views/stylesheets/_metrics.scss */
.metric[data-display='activity'].loading .data {
  background: none;
  padding: 0;
  width: 100%;
}

/* line 1, /app/views/stylesheets/_errors.scss */
.flash {
  padding: 10px;
  margin-bottom: 10px;
}
/* line 5, /app/views/stylesheets/_errors.scss */
.flash.error {
  background: #cc3333;
}

/* line 10, /app/views/stylesheets/_errors.scss */
.error-page {
  margin: 100px auto;
  text-align: center;
  width: 70%;
}
/* line 15, /app/views/stylesheets/_errors.scss */
.error-page h2 {
  padding-bottom: 10px;
}
/* line 19, /app/views/stylesheets/_errors.scss */
.error-page p {
  color: #bcbcbc;
  margin: auto;
  width: 40%;
}
